<template name='login'>
  <div class="ui equal width grid" style="max-width:600px;margin:auto;margin-top:10px;">
    {{#if isSelectingNetwork}}
    <div class='row' style='margin: 15px;'>
      <h1>Login</h1>
      <p>
        Welcome to DADA-Video-Universe! Sign in with your Minima address.
      </p>
    </div>

    {{#if noMinimaLogin}}
    <div class="column loginOption" data-network="Minima">
      {{#if isNightMode}}
      <img src="./DTube_files/images/logos/dtube_white.png">
      {{else}}
      <img src="./DTube_files/images/logos/dtube.png">
      {{/if}}
      <span>Minima MDS</span>
    </div>
    {{/if}}
    {{/if}}
  </div>

  {{> loginMinima}}
  {{> loginMinimaSignature}}
</template>

<template name='loginMinima'>
  {{#if isLoggingIn}}
  <div class="ui segment" style="max-width:400px;margin:auto;margin-top:20px;">
    <h3>Connect to Minima</h3>
    <p>Click below to sign in with your Minima MDS node.</p>
    <button id="loginMinimaDirect" class="ui primary button">Sign in with Minima</button>
    
    <div class="ui divider"></div>
    <p><small>Or enter your address manually:</small></p>
    <div class="ui action input" style="width:100%">
      <input type="text" id="minimaAddressInput" placeholder="0x...">
      <button class="ui button" onclick="Template.loginMinima.__helpers[' click #loginMinimaDirect']">Login</button>
    </div>
  </div>
  {{/if}}
</template>

<template name='loginMinimaSignature'>
  {{#if signaturePending}}
  <div class="ui segment" style="max-width:400px;margin:auto;margin-top:20px;">
    <div class="ui active dimmer">
      <div class="ui text loader">Signing in with Minima...</div>
    </div>
    <p>Please approve the signature request in your Minima node.</p>
  </div>
  {{/if}}
</template>
